/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: "Neo Sans Arabic Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f7f8fa;
}

a:hover {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}
:root {
  --main-color: #000;
  --main-hover: #FFADC0;
  
}

img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--main-hover),
    var(--main-color)
  );
  /* border-radius: 4px 4px 4px 4px; */
}
html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-hover)
  );
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */
.top-header{
  background-color: #fff;
}
.menu-name:after {
  content: "";
  font-weight: 900;
  font-family: "Line Awesome Free";
  font-size: 10px;
  margin-inline-start: 4px;
}


.language-anchor {
  margin-inline-end: 30px;
  font-size: 14px;
  color: #fff;
  transition: 0.5s;
}
.fixed-nav .language-anchor:hover {
  color: #fff;
  opacity: 0.8;
}

.language-anchor:hover {
  color: var(--main-color);
}

/*top header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

.top-header a {
  text-decoration: none;
}
.show-icons {
  display: flex;
  align-items: center;
}
.show-icons {
  display: none;
}
.show-icons .menu-bars {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 7px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  position: relative;
}
.search-field{
  height: 45px;
  background-color: #f7f8fa;
  border-radius: 22.5px;
  border:1px solid transparent;
  transition: 0.5s;
  width: 888px;
  padding: 0 15px;
  font-size: 14px;
  color: #323233;
  display: flex;
}
.search-field::placeholder{
  font-size: 14px;
  color: #323233;
}
.search-field.search-field:focus{
  border:1px solid #000;
  outline: none;
}
.menu-bar{
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
}
.menu-bar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.title-1{
  color: #000;
  font-size: 18px;
  margin: 0;
  text-align: start;
  display: flex;
  align-items: center;
}
.menu-link {
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  padding-bottom: 15px;
  font-family: "NeoSansArabicMedium";
}
.contact-link {
  position: relative;
  
  border-radius: 20px;
  background-color: var(--main-hover);
  color: #fff;
  font-size: 14px;
  font-family: "NeoSansArabicBold";
  width: 146px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  transition: 0.5s;
}

.contact-link:after {
  display: flex;
  background-color: rgb(0, 96, 179);
  opacity: 0.102;
  border-radius: 300px;

  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  content: "";
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;
  width: 149px;
  height: 44px;
}
.contact-link:hover {
  color: #fff;
  background-color: var(--main-color);
}
.fixed-nav .contact-link:hover {
  background-color: var(--main-hover);
}
.search-block{
  position: relative;
}
.search-icon{
  position: absolute;
  top:50%;
  transform:scaleX(-1) translateY(-50%);
  inset-inline-end: 15px;
  
}
.medal-icon{
  transform: scaleY(-1);
  margin-inline-end: 10px;
  font-size: 34px;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
 
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.language-and-contact-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.whatsapp-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  background-color: rgb(0, 126, 229);
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  inset-inline-start: 10px;
}
.whatsapp-btn::after {
  display: flex;
  background-color: rgb(0, 126, 229);
  opacity: 0.102;
  border-radius: 300px;
  height: 63px;
  width: 63px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  content: "";
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: 0;
}
.whatsapp-btn:focus {
  border: 0;
  outline: none;
}

.nav-header li a:hover {
  color: var(--main-color);
}
.fixed-nav .nav-header li a:hover {
  color: #fff;
  opacity: 0.8;
}
.big-menu li {
  margin: 0 13px;
}
.big-menu li:first-child{
  margin-inline-start: 0;
}
 .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.bars-icon{
  color: #000;
}
.menu-link:hover{
  color: var(--main-hover);
  border-bottom: 4px solid #000;
}
.product-div{
  background-color: #fff;
  border-radius: 10px;
  width:50%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }
 .product-details{
  background-color: #fff;
  border-radius: 10px;
  width:50%;
  padding: 50px;
 
 }
 .product-details .product-name{
  font-size: 20px;
  font-family: "NeoSansArabicBold";
 }
 .product-details .price span{
  font-size: 18px;
 }
 .product-details .best-seller{
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  inset-inline-start: 0;
 }
 .product-details-tabs{
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
  width:100%;
 }
 .product-details-tabs li{
  margin: 0 !important;
  padding: 0 0 15px;
 }
 .product-details-tabs li a{
  color: var(--main-color);
 }
 .product-details-tabs li.active a{
  color: var(--main-hover);
 }
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: 0;
 }
 .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border: 0;
 
 }
 .product-details-tabs .nav-link{
  padding: 0;
 }
 .tab-text{
  text-align: start;
  margin-top: 20px;
 }
 .product-details-tabs .nav-link.active{
color: var(--main-hover);
 }
 .rate-block{
  border: 1px solid #e5e7eb;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 600px;
 }
 .stars{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
 }
 .stars li:not(:last-child){
  margin-inline-end: 10px;
 }
 .stars li i{
  color: gold;
  font-size: 25px;
 }
 .user-name{
  color: var(--main-color);
  font-size: 18px;
  margin: 0 0 10px;
  text-align: start;
 }
 .rate-text{
  color: var(--main-hover);
  margin: 0;
  text-align: start;
  font-size: 16px;
 }
 .date{
  color: gray;
  font-size: 14px;
  margin: 0 0 15px;
  display: block;
  text-align: start;
 }
 .sell-note{
  font-size: 14px;
  color: var(--main-color);
  margin: 0 0 30px;
  display: block;
  width: 100%;
 }
 .product-div img{
  width: 300px;
  margin-bottom: 30px;
 }
 #exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}



.nav-tabs > li {
  border-radius: 0;
  border: 0;
}










 .m-end-30{
  margin-inline-end: 30px;
 }
.navgition {
  display: flex;
}

.slide-menu {
  position: relative;
}
.slide-menu-2 {
  position: relative;
}
.slide-menu-2.active i {
  transform: rotate(90deg) !important;
}
.cats-dispaly-3 {
  position: static;
  display: none;
  opacity: 1;
  visibility: visible;
  transition: none;
}

.cats-dispaly-3 .cat-anchor {
  padding-bottom: 13px !important;
}
.cats-dispaly-3 .cat-li:last-child .cat-anchor {
  padding: 0 !important;
}
.cats-dispaly .cat-li:first-child {
  padding-top: 14px;
}
.without-arrow:after{
  content: " " !important;
}
.cats-dispaly {
  border-radius: 10px;
  position: absolute;
  left: 90%;
    transform: translateX(-90%);
  
  top: calc(100% + 8px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  min-width: 230px;

  background-color: #fff;
  color: var(--sec-color);
  display: flex;
  justify-content: space-between;
  text-align: start;
  border: none;
  padding: 0px 20px 20px;
  transition: all 0.3s ease-in-out;
}
html[dir="ltr"] .cats-dispaly{
  left: -23%;
  transform: translateX(0%);
  min-width: 240px;
}

.cats-dispaly-3 {
  position: absolute;
  left: -71.5%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  min-width: 230px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  text-align: start;
  border: none;
  padding: 0px 20px 20px;
  transition: all 0.3s ease-in-out;
}
html[dir="ltr"] .cats-dispaly-3{
  right: -183.3%;
  left: auto;
}

.cats-div {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cats-dispaly .cat-li {
  margin: 0;

  position: relative;
}
.cat-anchor {
  color: var(--sec-color);
  text-decoration: none;
  padding-bottom: 13px;

  font-size: 14px;
  display: flex;

  width: 100%;
  align-items: center;

  transition: all 0.3s ease-in-out;
}
.cats-dispaly .cat-li:last-child .cat-anchor {
  padding-bottom: 0;
}

.first-level-link:after {
  font-weight: 900;
  font-family: "Line Awesome Free";
  color: var(--sec-color);
  font-size: 14px;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  transition: 0.5s;
}
.cat-anchor:hover .first-level-link:after {
  color: var(--main-hover);
}
.cat-anchor:hover{
  color: var(--main-hover);
}
.cat-anchor span {
  transition: 0.5s;
}
.cat-anchor span:hover {
  color: var(--main-hover);
}
html[dir="rtl"] .first-level-link:after {
  content: "";
}

.dropdown {
	position: relative;
	display: flex;
  margin-inline-end: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {

	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #fff;
	
	text-align: center;
	min-width: 181px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
	border-radius: unset;
	z-index: 300;
	top: calc(100% + 8px);
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
  }
  .account-bar{
    display: flex;
    align-items: center;
  }
 
 
  /* Links inside the dropdown */
  .dropdown-content a {
	color: #000;
	
		text-decoration: none;
		font-size: 14px;
		display: flex;
		width: 100%;
		align-items: center;
		transition: all 0.3s ease-in-out;
		padding: 8px 18px;
		text-align: start;
  }
 
  .dropdown-content a:hover {
	color: var(--main-hover);
	
	
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	/* display: block; */
	visibility: visible;
	opacity: 1;
  }
  .arrow-down-dropdown{
	font-size: 10px !important;
	margin-inline-start: 3px;
	margin-inline-end: 0 !important;
  }
  .dropbtn i{
    margin-inline-end: 0;
    font-size: 24px;
  }
  .dropbtn{
    font-size: 10px;
    justify-content: center;
    width: 100%;
  }
  .dropbtn{
	background-color: transparent;
	display: flex;
	align-items: center;
	border:0;
	outline: none;
	color: #000;
	
	padding: 0;
	transition: 0.5s;
  }
  .dropbtn{
    transition: 0.5s;
  }
  .dropbtn:hover i{
	color: var(--main-hover);
  }
  .dropbtn:focus{
	outline: none;
  }
  .dropbtn i{
	font-size: 20px;
	color: #000;
	margin-inline-end: 5px;
	
  }
  .guest-link{
    font-size: 14px;
    transition: 0.5s;
  }
  .guest-link:hover{
    color: var(--main-hover);
  }
.fixed-nav {
  background-color: #fff;
  margin-top: -180px;
  transition: all 0.3s ease-in-out;
}

.fixed-nav .nav-header {
  padding: 10px 0;
}
.fixed-header {
  position: fixed;
}

.fixed-header .fixed-nav {
  margin: 0;
}
.logo {
  max-width: 170px;
  max-height: 61px;
  transition: all 0.3s ease-in-out;
}


.nav-head {
  width: 100%;
  display: none;
}

/*                          header section                     */

/*
          announcement bar                   */
.announcement-bar {
  background-color: #000;
 
}
.announcement-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.announcement-list li{
  color: #fff;
  font-size: 14px;
  margin-inline-end: 30px;
  animation: scrolling-type-1 2s infinite linear;
  width: 100%;
}

.announcement-list li:last-child{
  margin-inline-end: 0;
}
@keyframes scrolling-type-1 {
  0% {
    transform: translate(0, 0%);
    opacity: 0%;
  }
  10%{
    opacity:100%;
  }
  90%{
    opacity:100%;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0%;
  }
}



/*                          announcement bar                           */

/*                       main-slider-section                             */
.main-slider-section{
  padding: 15px ;
}
.main-slider {
  position: relative;
  overflow: hidden;
  margin-top: 169px;
}
.main-slider-img {
  height: 400px;
  width: 100%;
  max-width: 100%;
}
.main-slider-image{
  width: 100%;
  height: 400px;
  object-fit: fill;
}
.main-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1320px) {
  .main-slider .swiper-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
 }
}
.main-slider .swiper-btn:hover {
  color: #fff;
  background-color: var(--main-color);
}
.main-slider .swiper-btn.swiper-btn-next {
  left: 120px;
}
.main-slider .swiper-btn.swiper-btn-prev {
  right: 120px;
}
.main-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}
.main-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #fff;
}
.main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

/*                      main-slider-section                            */

/*            categories section                */
.categories-section{
  display: flex;
  justify-content: center;
  gap:15px;
  padding: 30px 0;
}
.cat-img-block{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ece7de ;
  width: 150px;
  height: 150px;
  transition: 0.5s;
  overflow: hidden;
  
}
.cat-block{
  border: 3px solid var(--main-hover);
    border-radius: 50%;
    padding: 5px;
}
.cat-img{
  width: 90%;
  border-radius: 50%;
  transition: 0.5s;
}
.cat-img-block:hover{
  background-color: var(--main-hover);
}
.cat-img-block:hover .cat-img{
  transform: scale(1.2);
}
.category{
  color: #000;
  font-size: 18px;
  text-align: center;
  display: table;
  
  transition: 0.5s;
}
.category:hover{
  color: var(--main-hover);
}
/*                 categories section                         */

/*                       banners-section                             */
.banner-img{
  width: 100%;
  height: 350px;
  object-fit: fill;
 
  transition: 0.5s;
}
.bannerr{
  display: flex;
  gap:30px;
  width: 100%;
}

.banner-image{
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
}
.banner-image:hover .banner-img{
  transform: scale(1.2);

}
.bannerr a{
  width: 100%;
}
/*                       banners-section                             */



/*                      products-swiper-section                      */
.products-swiper-section {
 
  padding: 30px 0;
}
.offer-title-bar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.show-more-link{
  color: #000;
  font-size: 16px;
  transition: 0.5s;
  text-decoration: underline;
}
.show-more-link:hover{
  color: var(--main-hover);
  text-decoration: underline;
}
.products-slider {
  position: relative;
}
.offer-title{
  color: #000;
  font-size: 24px;
  margin: 0;
  text-align: start;
  font-family: "NeoSansArabicBold";
}

.products-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 30%;

  display: none;

  font-size: 40px;
  color: #b6c3cb;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .products-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.products-slider .swiper-btn:hover i {
  color: var(--main-color);
}
.products-slider .swiper-btn i {
  z-index: 2;
  transition: 0.5s;
}
.products-slider .swiper-btn.swiper-btn-next {
  left: -45px;
}

.products-slider .swiper-btn.swiper-btn-prev {
  right: -45px;
}

.products-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin-top: 33px;
  justify-content: center;
}

@media (max-width: 1320px) {
  .products-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #b6c3cb;
  opacity: 1;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.products-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-color);
}

.products-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-color);
  opacity: 1;
}
.products-section .swiper-wrapper {
  align-items: center;
}
.product-block{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
}
.single-page-title{
  text-align: center;
  color: var(--main-color);
  font-family: "NeoSansArabicBold";
  font-size: 24px;
  margin: 15px 0 ;
  display: block;
 width: 100%;
}
.sign-in-note{
  color: var(--main-hover);
  font-size: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
margin-bottom: 40px;
}
.sign-input{
  background-color: var(--main-hover) !important;
  height: 45px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sign-in-btn{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--main-color);
  color: #fff;
  font-family: "NeoSansArabicMedium";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 30px auto;
  border: 0;
  outline: none;
  transition: 0.5s;
}
.sign-in-btn:hover{
  background-color: var(--main-hover);
}
.sign-in-btn:focus{
  outline: none;
}
.sign-in-content{
  width: 500px;
  margin: 0 auto 50px;
}
.best-seller{
  background-color: var(--main-hover);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 70px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top:15px;
  inset-inline-start: 20px;
}
.explode{
  background-color: green;
}
.product-image{
  margin-bottom: 15px;
  overflow: hidden;
  transition: 0.5s;
  height: 165px;
  padding: 10px;
}
.product-img{
  width: 100%;
  transition: 0.5s;
  object-fit: fill;
  height: 165px;
}
.product-block:hover .product-img{
  transform: scale(1.1);
}
.product-name{
  color: #000;
  font-size: 13px;
  font-family: "NeoSansArabicLight";
  margin: 0 0 15px;
  transition: 0.5s;
  text-align: start;
  line-height: 1.4;
  height: 40px;
}
.product-block:hover .product-name{
  color: var(--main-hover);
}
.price{
  display: flex;

  margin-bottom: 15px;
}
.price span{
  display: flex;
  font-size: 12px;
}
.old-price{
  text-decoration: line-through;
  font-family: "NeoSansArabicLight";
  color: #323233;
  margin-inline-end: 30px;
}
.new-price{
  font-family: "NeoSansArabicMedium";
  color: var(--main-hover);
}
.add-cart-btn{
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border:0;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #000;
  transition: 0.5s;
}
.cart-iconn{
  font-size: 18px;
  margin-inline-end: 5px;
}
.add-cart-btn:hover{
  background-color: var(--main-hover);
}
.add-cart-btn:focus{
  outline: none;
}

/*                      products-swiper-section                      */



/*                             breadcrumb                */
.breadcrumb{
  padding: 40px 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 215px;
  background-color: transparent;
  margin-bottom: 40px;
}
.breadcrumb li{
  font-size: 14px;
  margin-inline-end: 10px;
}
.breadcrumb li:not(:last-child):after{
content:"/";
padding-inline-start: 10px;
}
.single-page-content{
  display: flex;
  margin-bottom: 50px;
}
.filter-section{
  background-color: #fff;
  width:300px;
  padding: 20px 15px;
  border-radius: 10px;
  margin-inline-end: 30px;
}
.filter-title{
  color: var(--main-color);
  font-size: 18px;
  font-family: "NeoSansArabicBold";
  padding: 0 0 10px;
  border-bottom: 1px solid #e5e7eb;
  margin: 0 0 15px;
  text-align: start;
}
.second-filter-title{
  color: var(--main-color);
  font-size: 16px;
  font-family: "NeoSansArabicMedium";
  padding: 0 0 10px;
  
  margin: 0 0 15px;
  text-align: start;
}
.filter-search{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #f7f8fa;
  border: 2px solid transparent;
  transition: 0.5s;
  padding: 0 15px;
  font-size: 14px;
  color: #323233;
  outline: none;
  margin-bottom: 10px;
}
.filter-search:focus{
  border:2px solid var(--main-color);
}
.filter-search::placeholder{
  font-size: 14px;
  color: #323233;
}
input[type=checkbox], input[type=radio]{
  width: 20px;
  height: 20px;
}
.filter-label{
  text-transform: capitalize;
  margin: 0;
  margin-inline-start: 10px;
  font-family: "NeoSansArabicLight";
}
.check-div{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.products-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}
.pro-pagenation{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.pro-pagenation li{
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 50%;
}
.pro-pagenation li:not(:last-child){
  margin-inline-end: 10px;
}
.pro-pagenation li a:hover{
  background-color: var(--main-hover);
}
.pro-pagenation li a{
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 50%;
}
.pro-pagenation li.active a{
  background-color: var(--main-hover);
}

/*                            breadcrumb                       */

/*                contact-bar                              */
.contact-bar{
  background-color: var(--main-hover);
  padding: 30px 0;
}
.contact-bar-content{
  display: flex;
  justify-content: space-between;
}
.contact-title{
  color: #fff;
  font-size: 20px;
  font-family: "NeoSansArabicMedium";
  margin: 0 0 15px;
  text-align: start;
}
.contact-text{
  color: #fff;
  font-size: 18px;
  margin: 0;
  text-align: start;
}
.contact-details{
  display: flex;
  align-items: center;
}
.contact-iconn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  margin-inline-end: 10px;
}
.contact-details-title{
  color: #fff;
  font-size: 16px;
  text-align: start;
  font-family: "NeoSansArabicMedium";
  margin: 0 0 15px;
}
.contact-details-answer{
  color: #fff;
  text-align: start;
  display: block;
  margin: 0;
  font-size: 14px;
}
/*                contact-bar                           */

/*                                   footer                            */
.footer {
  padding: 71px 0 47px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.footer-bg{
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  pointer-events: none;
  z-index: 1;
  margin: 0;
}
html[dir="ltr"] .footer-bg{
  transform: scaleX(-1);
}
.footer-cont {
  z-index: 9;
  position: relative;
}

.nav-foot-cont {
  text-align: start;
}
.nav-foot-header {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 16px;
  color: #000;
  margin: 0 0 32px;
  text-align: start;

  font-family: "NeoSansArabicBold";
}
@media (min-width: 991px) {
  .nav-wrap {
    display: flex;
    flex-direction: column;
    max-height: 280px;
    flex-wrap: wrap;
  }
 
}

.nav-foot-link {
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  display: inline-flex;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 13px;
}

.nav-foot-link:hover {
  color: var(--main-hover) !important;
}
.contact-list .nav-foot-li .nav-foot-link {
  color: #000;
  display: flex;
  align-items: center;
}
.contact-icon {
  color: #fff;
  font-size: 18px;
  margin-inline-end: 10px;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.social-list-link {
  margin-inline-end: 10px;
}
.social-list-link:last-child {
  margin-inline-end: 0;
}
.social-icon {
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  transition: 0.5s;
}

.social-list-link a:hover .social-icon {
  background-color: var(--main-hover);
  color: #fff;
}
.app{
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  width: 200px;
}
.app img{
  width: 100%;
}
.app:focus{
  outline: none;
}



.copy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
align-items: center;
  font-size: 13px;

  color: #000;
  text-align: start;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}

.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  transition: all 0.5s ease-out;
}
html[dir="rtl"] .footer-accordion:after {
  content: "";
}
.footer-accordion.active:after {
  transform: rotate(90deg);
}
html[dir="rtl"] .footer-accordion.active:after {
  transform: rotate(-90deg);
}
/*                             footer accordion                 */

@media (max-width: 767px) {
  .nav-foot-cont {
    text-align: start;
    margin-bottom: 20px;
  }
  .nav-foot-header {
    text-align: center;
  }

  .copy-flex {
    padding-top: 30px;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
  }
  .copy-right {
    margin-bottom: 5px;
  }
}

/*                                   footer                            */

/*                                    media query                                    */
/*                    menu in phone size                      */

@media (max-width: 991px) {
 .title-1{
  font-size: 11px;
 }
 .single-page-content{
  flex-wrap: wrap;
 }
 .filter-section{
  margin-inline-end: 0;
  margin-bottom: 30px;
  width: 100%;
 }
 .sign-in-content{
  width: 100%;
 }
 .product-div{
  width: 100%;
  margin-bottom: 15px;
 }
 .m-end-30{
  margin-inline-end: 30px;
 }
 .product-details-tabs .nav-link{
  font-size: 15px;
 }
 .rate-block{
  width: 100%;
 }
 
 .breadcrumb{
  margin-top: 250px;
 }
 .products-section{
  grid-template-columns: repeat(2,1fr);
 }
 .product-details{
  width: 100%;
 }
 .product-details .product-name{
  margin: 0 0 50px;
 }
 .sell-note{
  text-align: start;
  margin-top: 30px;
 }
 .bannerr{
  gap:15px;
 }
 .medal-icon{
display: none;
 }
 .categories-section{
  display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 0 60px;
 }
 .contact-bar-content{
  flex-wrap: wrap;
 }
 .contact-title{
  text-align: center;
  width: 100%;
 }
 .contact-text{
  text-align: center;
    margin-bottom: 30px;
    width: 100%;
 }
 .contact-block{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  flex-wrap: wrap;
 }
 .contact-details-text{
  width: 130px;
 }
 .banner-image{
  height: 200px;
 }
 .banner-img{
  height: 200px;
 }
 .cat-img-block{
  width: 150px;
  height: 150px;
 }
 .category{
  margin: 0 auto;
 }
 .main-slider-img {
  height: 180px;
 
}
.main-slider-image{
 height: 180px;
}
 .announcement-list{
  overflow-x: hidden;
 }
 ::-webkit-scrollbar {
 height: 5px;
  }
  .announcement-list li{
    white-space: nowrap;
  }
  
 .nav-header{
  flex-wrap: wrap;
 }
 .main-slider{
  margin-top: 203px;
 }
  .search-field{
    width: 100%;
  }
  .search-block{
    display: flex;
    order: 3;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(255, 255, 255, 0.99);
    transition: 0.4s;
    z-index: 8;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }

  .big-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
    padding: 25% 20px 20px;
    margin-inline-start: 0;
  }
  .nav-header li {
    margin: 0;
  }
  .menu-link:hover{
    border-bottom: 0;
  }
  .fixed-nav{
    margin-top: -245px;
  }
  .menu-bar-content{
    position: relative;
  }

  /*                    menu in phone size                      */
}
/*                                    media query                                    */

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 75px;
  inset-inline-start: 21px;
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.302);

  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top-icon:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-header .img-logo img {
    max-width: 190px;
  }
  .product-details .product-name{
    font-size: 18px;
  }
.search-field{
  width: 400px;
}
.title-1{
  font-size: 16px;
}
.contact-details-title{
  font-size: 15px;
}
.contact-title{
  font-size: 18px;
}
.main-slider-img {
  height: 300px;
 
}
.contact-text{
  font-size: 16px;
}
.main-slider-image{
 height: 300px;
}
.cat-img-block{
  width: 130px;
  height: 130px;
}
.banner-image{
  height: 300px;
 }
 .banner-img{
  height: 300px;
 }
  .announcement-list{
    overflow-x: scroll;
  }
  .announcement-list li{
    white-space: nowrap;
  }
  ::-webkit-scrollbar {
   height: 5px;
    }


  .nav-header li {
    margin: 0 10px;
  }
  .nav-header li a {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  body {
    position: relative;
  }

  .show-icons {
    position: absolute;
    font-size: 24px;
inset-inline-end: 0;
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    color: #000;
    transition: all 0.3s ease-in-out;
  }
  .dropdown-content{
    left: 0;
  }
  .show-icons .menu-bars {
    position: relative;
    z-index: 8;

    display: flex;
    align-items: center;
    margin-inline-start: 0px;
    transition: all 0.3s ease-in-out;
  }
  .show-icons .menu-bars .bar {
    color: #000;
  }
  .show-icons .menu-bars .times {
    color: var(--main-color);
  }
  .contact-link {
    width: 120px;
    height: 35px;
  }
  .contact-link:after {
    width: 123px;
    height: 38px;
  }
  .language-anchor {
    margin-inline-end: 15px;
    font-size: 13px;
  }
  .nav-header .img-logo img {
    max-width: 150px;
  }
  .nav-header li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-family: "NeoSansArabicBold";
  }
  .show-icon {
    display: block;
  }
  .hide-icon {
    display: none;
  }
  .menu-name:after {
    font-size: 13px;
    margin-inline-start: 3px;
    transition: 0.5s;
    position: absolute;
    inset-inline-end: 0;
  }
  .cats-dispaly {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    background-color: transparent;
  }
  .cats-dispaly-3 {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    background-color: transparent;
  }

  .cats-dispaly .cat-li a {
    line-height: 20px;

    font-family: "NeoSansArabicMedium";
  }
  .menu-name.active:after {
    transform: rotate(-180deg);
  }
  .cats-div {
    align-items: start;
    padding: 0;
  }
  .big-menu li {
    margin-bottom: 22px;
    width: 100%;
  }
  html[dir="rtl"] .first-level-link:after {
    content: "";
    transition: 0.5s;
  }
  html[dir="ltr"] .first-level-link:after {
    content: "";
    transition: 0.5s;
  }
  .slide-menu-2.active .first-level-link:after {
    transform: rotate(-180deg);
  }
  .cats-dispaly {
    padding-top: 14px;
  }
  .extra-class {
    padding-bottom: 14px;
  }
  .cats-dispaly .has-level-2:last-child .extra-class {
    padding-top: 14px;
    padding-bottom: 0;
  }
  .extra-class .cat-anchor span {
    font-family: "Neo Sans Arabic Regular";
  }
  .cats-dispaly .has-level-2:first-child {
    padding-top: 0;
  }
  .main-caption {
    top: 40%;
  }
  .caption-title {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .caption-text {
    font-size: 14px;
  }
  .nav-header li a {
    color: var(--main-color);
  }

  

  .cats-dispaly .cat-li a {
    text-align: start;
    display: block;
  }

  .top-header .cats-dispaly .cat-li a:hover,
  .cat-li:hover > .cat-anchor {
    color: var(--main-hover);
  }
  .main-banner-img {
    min-height: 100vh;
    object-fit: cover;
  }
 
  .scroll-down {
    display: none;
  }
 
  
  .social-list {
    margin-top: 0;
  }
  .footer:after {
    top: 0;
    padding-top: 0;
  }
  .slide-menu-2 .first-level-link{
    font-size: 14px;
    padding-inline-start: 10px;
    display: block;
  }
  .second-level-link{
    font-size: 13px;
    padding-inline-start: 20px;
    display: block;
  }
  .language-and-contact-section .language-anchor{
    display: none;
  }
  
  .footer-bg {
    max-width: 150px;
}

}
@media (min-width: 992px) {
  .slide-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  .slide-menu-3:hover .cats-dispaly-3 {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}

@media only screen and (max-width: 994px) and (min-width: 768px) {
  .main-slider-img {
    height: 250px;
   
  }
  .product-details .product-name{
    font-size: 16px;
  }
  .product-details .price span {
    font-size: 16px;
}


  .single-page-content{
    flex-wrap: nowrap;
  }
  .filter-section {
    margin-inline-end: 30px;
    margin-bottom: 0;
    width: 300px;
}
  .main-slider-image{
   height: 250px;
  }
  .categories-section{
   
      grid-template-columns: repeat(3,1fr);
     
   }
   .contact-block{
    justify-content: space-between;
    width: auto;
   }
   .contact-bar-content{
    justify-content: center;
   }

  .nav-foot-link {
    font-size: 13px;
  }
  .nav-foot p {
    font-size: 11px;
  }

  .social-list li i {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }
  .newsletter-cont button {
    inset-inline-end: 2px;
  }
  .contacts-list li a {
    font-size: 13px;
    white-space: nowrap;
  }
  .gallery-cont {
    gap: 10px;
  }
  .tab-cont {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .best-employees-text h2 {
    margin: 40px 0;
  }
  .best-employees-section {
    padding: 60px 0;
  }
  .social-links li {
    margin-inline-end: 5px;
  }
  .contact-record {
    flex-wrap: nowrap;
  }
  .first-check-block {
    width: 400px;
  }
  .review-section {
    padding: 50px 0 50px;
  }
  .checkbox-div input {
    width: 24px;
  }
}

@media only screen and (max-width: 1400px) and (min-width:1199px) {
  .search-field{
    width: 790px;
  }
  .announcement-list{
    overflow-x: scroll;
  }
  .announcement-list li{
    white-space: nowrap;
  }
  ::-webkit-scrollbar {
   height: 5px;
    }
    .cat-img-block{
      width: 150px;
      height: 150px;
    }
}

@media (min-width: 1280px){
  .container{
    max-width: 1440px;
  }
}